.Main{
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: larger;
}
.Main img{
    border: 5px solid black;
}
*{
    text-decoration: none;
}
.item1{
 background-color: cyan;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: larger;
 margin: 0;   
}
.item1 img{
    width: 500px;
    height: 300px;
}
.item2{
    background-color: lightgreen;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
.item2 img{
    width: 600px;
    height: 400px;
}
.item3{
    background-color: lightyellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    
}
